body {
  background-color: #000000ff;/* Dark background */
  color: #f9f6f4;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  max-width: 900px;
  
  line-height: 1.8;/* paragraph spacing  */
  margin: auto;/* Horizontally center the content */
  padding: 2rem;
}
small, footer, .audio-caption {
  font-family: 'DM Sans', sans-serif;
}

header {
  background-color: #000000ff; /* Dark header */
  padding: 2rem 1rem;
  border-bottom: 1px solid #0e0909;
}
.blockquote{
  border-left: 3px solid #ff6b6b ;/*'#c65757', still confused, help me Oh God of Certainity!  */
    padding-left: 1rem;
}
  .breadcrumb {
      position: absolute; 
      left: 20px;
      top: 20px; 
      font-family: 'EB Garamond', serif;
      font-size: 18px;
      color: white;
  }

  .breadcrumb a {
      text-decoration: none;
      font-style: italic;
      color: white;
      font-weight: 500;
  }

  .breadcrumb span {
      color: gray; 
  }

  .breadcrumb a:hover {
      text-decoration: none;
      color: #ff6b6b;
  }
nav {
  margin-top: 1rem;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #eae0d5;
  font-weight: 500;
  transition: color 0.3s ease;
}
a {
  color: #ff6b6b;
  text-decoration: none;
}
h3 {
  color: #ff6b6b;
  font-family: 'EB Garamond', serif;
  border-bottom: 1px solid #333;
  padding-bottom: 0.2em;
  margin-top: 2em;  
}
  .audio-caption {
    font-size: 0.9rem;
    font-style: italic;
    color: #aaa;
    padding: 8px;
  }
  .audio-container {
    display: flex;
    gap: 10px;
    text-align: center;
  }  
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 1.5rem;
  }
  main {
    max-width: 700px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  main {
    padding: 0 0.5rem;
  }
  .audio-container {
    flex-direction: column; 
  }
}
a:hover {
    color: #ff8787;
  text-shadow: 0 0 3px rgba(255, 107, 107, 0.5);
  text-decoration: underline; 
  transform: translateY(-2px);/* Slight lift effect */
  transition: all 0.2s ease;
}
.entry-image {
  text-align: center;
  margin: 1.5rem auto;
  max-width: 400px;
}

.entry-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 0.4s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.entry-image img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}
.entry-image figcaption {
  font-size: 0.85rem;
  color: #888;
  margin-top: 0.5rem;
  font-style: italic;
}